body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 70px;
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
}

.dark {
    background-color: #121212;
    color: white;
}

button {
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}
